:root {
    --background-1: #242825;
    --background-1-1: #2f3530;
    --background-1-2: #38413a;
    --background-2: #243E36;
    
    --accent-1: #74B454;
    --accent-2-0: #657a5a;
    --accent-2-0-1: #7c9b6d;
    --accent-2: #A4D48C;
    
    --text-1: #FDF3B3;

    --error-1: #884040;
    --error-2: indianred;
    --error-3: #ec7777;
    --error-4: #fd9090;
}