.title {
    color: var(--accent-2);
    font-weight: 900;
    font-size: 2.5em;

    i {
        width: .8em;
        height: .8em;
    }

    .subtitle {
        color: var(--accent-2-0);
        font-weight: 900;
        font-size: 0.6em;
    }
}