.user {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 5px;

    border-radius: 5px;
    border: 1px solid var(--background-1-3);
    background: var(--background-1-1);

    color: var(--accent-2-0-1);
    font-size: 1.5em;
    font-weight: 900;
    
    word-wrap: break-word;

    .username {

    }

    .email {
        font-size: .9em;
        color: var(--accent-2-0);
    }
}