@import '../misc/fonts';
@import '../misc/theme';
@import '../misc/utils';

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    // font-size: clamp(1rem, 1vw - 0.5rem, 1.5vw);
}

body {
    background: var(--background-1); 
}

@import '../misc/main';

.content {
    max-width: 500px;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    gap: 15px;

    .title {
        color: var(--accent-2);
        font-weight: 900;
        font-size: 2em;

        i {
            width: .8em;
            height: .8em;
        }

        .subtitle {
            color: var(--accent-2-0);
            font-weight: 900;
            font-size: 0.6em;
        }
    }

    @import '../misc/user';

    .client {
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
    
        display: flex;
        flex-direction: column;
        gap: 5px;
    
        border-radius: 5px;
        border: 1px solid var(--background-1-3);
        background: var(--background-1-1);

        color: var(--accent-2);
        font-size: 1.5em;
        font-weight: 900;

        .more {
            color: var(--error-2);
            font-size: 0.8em;
        }

        .website {
            color: var(--accent-2-0);
            font-size: 0.8em;
        }
    }

    @import '../input/button';
}
