<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>FrogPond</title>
    
    <link rel="stylesheet" href="/static/style/home/home.css">
    <link rel="icon" type="image/png" href="/static/assets/frog_128x128.png">
</head>
<body>

    <div class="main">
        <div class="content">

            <div class="user">
                <div class="username roboto">User: {{ .username }}</div>
                <div class="email roboto">Mail: {{ .email }}</div>
            </div>

            <form action="/auth/logout" method="get">
                <button class="button-input roboto" type="submit" id="logout-button">Leap Out!</button>
            </form>
        </div>
    </div>

</body>
</html>