<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>OAuth Token</title>

    <link rel="stylesheet" href="/static/style/token/token.css">
    <link rel="icon" type="image/png" href="/static/assets/frog_128x128.png">
</head>
<body>
    <div class="main">
        <div class="content">
            <div class="token roboto">
                <div class="title">
                    OAuth Token for client <u>{{.client_name}}</u>
                </div>
                <div class="more">
                    {{.token}}
                </div>
                <div class="note">
                    DO NOT SHARE THIS TOKEN!
                </div>
            </div>
        </div>
    </div>
</body>
</html>